<header class="bg-yellow-300">
    <div class="max-w-7xl mx-auto text-black px-8 py-6">
        <div class="flex flex-row justify-between items-center">
            <div class="flex flex-row justify-between w-full">
                <a href="/" aria-label="Ir a la página principal" class="mr-6">
                    <h1 class="text-3xl font-bold text-black">alamadev.com</h1>
                </a>
                <button
                    class="md:hidden"
                    id="menu-button"
                    aria-label="Toggle menu"
                >
                    <svg
                        class="w-6 h-6"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>
            <nav id="menu" class="hidden md:flex flex-col md:flex-row mt-4 md:mt-0 text-end">
                <ul
                    class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-8"
                >
                    <li>
                        <a
                            href="#home"
                            class="hover:underline"
                            aria-label="Ir a Inicio">Inicio</a
                        >
                    </li>
                    <li>
                        <a
                            href="#about"
                            class="hover:underline"
                            aria-label="Ir a Sobre Mí">Sobre Mí</a
                        >
                    </li>
                    <li>
                        <a
                            href="#skills"
                            class="hover:underline"
                            aria-label="Ir a Habilidades">Habilidades</a
                        >
                    </li>
                    <li>
                        <a
                            href="/projects"
                            class="hover:underline"
                            aria-label="Ir a Proyectos">Proyectos</a
                        >
                    </li>
                    <li>
                        <a
                            href="#contact"
                            class="hover:underline"
                            aria-label="Ir a Contacto">Contacto</a
                        >
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<script type="module" is:inline>
    document
        .getElementById("menu-button")
        .addEventListener("click", function () {
            const menu = document.getElementById("menu");
            menu.classList.toggle("hidden");
        });
</script>
