<header class="bg-yellow-300">
    <div class="max-w-7xl mx-auto text-black px-8 py-6">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <a href="/" aria-label="Ir a la página principal" class="mb-4 md:mb-0">
                <h1 class="text-3xl font-bold text-black">alamadev.com</h1>
            </a>
            <nav>
                <ul class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-6">
                    <li>
                        <a
                            href="#home"
                            class="link-custom hover:underline"
                            aria-label="Ir a Inicio">Inicio</a>
                    </li>
                    <li>
                        <a
                            href="#about"
                            class="link-custom hover:underline"
                            aria-label="Ir a Sobre Mí">Sobre Mí</a>
                    </li>
                    <li>
                        <a
                            href="#skills"
                            class="link-custom hover:underline"
                            aria-label="Ir a Habilidades">Habilidades</a>
                    </li>
                    <li>
                        <a
                            href="/projects"
                            class="link-custom hover:underline"
                            aria-label="Ir a Proyectos">Proyectos</a>
                    </li>
                    <li>
                        <a
                            href="#contact"
                            class="link-custom hover:underline"
                            aria-label="Ir a Contacto">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
