---
if (!Astro.locals.user) {
	return Astro.redirect("/login");
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lucia example</title>
	</head>
	<body>
		<h1>List Auth</h1>
	</body>
</html>